<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>
    .menu-item {
        /*float: left;*/
        display: block;
    }

    .menu-name {
        display: inline;
        vertical-align: top;
    }

    .submenu {
        display: none;
        /*width: fit-content;*/
        /*padding-left: 10px;*/
        position: relative;
        vertical-align: top;
    }

    .menu-item:hover > .submenu {
        display: inline-block;
    }

</style>
<body>

<div>q</div>
<div>q</div>
<div>q</div>
<div>q</div>
<div>q</div>


<div class="menu-item">
    <div class="menu-name">test1</div>
    <div class="submenu">
        <div style="position: absolute; top: 0px; z-index: 1; background-color: #f9f9f9; width: fit-content">

            <div class="menu-item">
                <div class="menu-name">test2</div>
                <div class="submenu">
                    <div style="position: absolute; top: 0px; z-index: 1; background-color: #f9f9f9; ">
                        <div>item4</div>
                        <div>item5</div>
                        <div>item6</div>
                    </div>
                </div>
            </div>

            <div>item2222222</div>
            <div>item3</div>
        </div>
    </div>
</div>

<div>
    sdfsdfsfd
</div>

</body>
</html>